/*******************************************************************************
 * COMMON                                                                      *
 * @author Hector Menendez <h@cun.mx>                                          *
 * @created 2011/SEP/01 17:02                                                  *
 *******************************************************************************/

/* layer position */

.ui-loader  { z-index:999; }
.ui-modal   { z-index:999; }
.ui-overlay { z-index:998; }
.ui-menubar { z-index:997; }

/* disable selection */

.ui-loader,
.ui-modal > header,
.ui-modal > footer,
.ui-label,
.ui-menubar
{
-webkit-user-select:none !important;
   -moz-user-select:none !important;
 }

/* disable default browser outline on focus */
.ui-input:focus,
.ui-button:focus,
.ui-textarea:focus,
.ui-select:focus
{
    outline:none !important;
}

/* reset default styling by applying a temporary transparent border */
.ui-input,
.ui-button,
.ui-textarea,
.ui-select
{
        border: 1px solid transparent;
        border-radius:.25em;
}

.ui-label {
    display:inline-block;
}

/*******************************************************************************
 * OVERLAY Structure                                                           *
 *                                                                             *
 * @author Hector Menendez <h@cun.mx>                                          *
 * @working 2011/AUG/31 15:26 Chrome, FF5                                      *
 * @created 2011/AUG/31 15:16                                                  *
 *******************************************************************************/

.ui-overlay {
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:.8;
}

/*******************************************************************************
 * LOADER Structure                                                            *
 *                                                                             *
 * @author Hector Menendez <h@cun.mx>                                          *
 * @created 2011/SEP/01 11:21                                                  *
 *******************************************************************************/

 .ui-loader {
        display:none;
        position:absolute;
        overflow:hidden;
        white-space:nowrap;
        top          : 50%;
        left         : 50%;
        text-indent  : 2em;
        width        : 2em;
        height       : 2em;
        margin-top   :-1em;
        margin-left  :-1em;
        border-radius: 2em;
-webkit-animation: uiloader 2s linear infinite;
   -moz-animation: uiloader 2s linear infinite;
        animation: uiloader 2s linear infinite;
}

@-webkit-keyframes uiloader { 0% { -webkit-transform:rotate(-360deg); } }
   @-moz-keyframes uiloader { 0% {    -moz-transform:rotate(-360deg); } }
        @keyframes uiloader { 0% {         transform:rotate(-360deg); } }

.ui-loader:before {
    position:absolute;
    border-radius:2em;
    content:"";
    top   :0;
    left  :0;
    bottom:0;
    right :0;
}
/*******************************************************************************
 * TEXT INPUTS                                                                 *
 * @author Hector Menendez <h@cun.mx>                                          *
 * @created 2011/SEP/01 17:49                                                  *
 *******************************************************************************/
.ui-input[type="text"],
.ui-input[type="password"]
{
    text-indent:.5em !important;
    padding:.15em 0 .25em 0;
    width:100%;
}

/*******************************************************************************
 * BUTTONS                                                                     *
 * @author Hector Menendez <h@cun.mx>                                          *
 * @created 2011/SEP/01 16:56                                                  *
 *******************************************************************************/

.ui-input[type="button"],
.ui-input[type="reset"],
.ui-input[type="submit"],
.ui-button
{
    display:inline-block;
    position:relative;
    padding:.25em .5em;
}

.ie-lt8 .ui-input[type="button"],
.ie-lt8 .ui-input[type="reset"],
.ie-lt8 .ui-input[type="submit"],
.ie-lt8 .ui-button
{
    zoom:1;
    display:inline;
}



