/*******************************************************************************
 * OVERLAY Structure                                                           *
 *                                                                             *
 * @working 2011/AUG/31 15:26 Chrome, FF5                                      *
 * @created 2011/AUG/31 15:16                                                  *
 *******************************************************************************/

.ui-overlay {
	z-index:1000;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:.8;
}