/*******************************************************************************
 * MODAL                                                                       *
 * @created 2011/AUG/31 15:16                                                  *
 *******************************************************************************/

.ui-modal section {
	background-color:#F6F6F6;
}

.ui-modal {
		background:rgba(255,255,255, 0);
		border:1px solid #333;
   -moz-box-shadow:.5em .5em 2em rgba(0,0,0,0.33);
-webkit-box-shadow:.5em .5em 2em rgba(0,0,0,0.33);
        box-shadow:.5em .5em 2em rgba(0,0,0,0.33);
}

.ui-modal footer {
	background-color:                                     #F6F6F6;
	background-image:   -moz-linear-gradient(90deg, #FFF, #F6F6F6 100%);
	background-image:-webkit-linear-gradient(90deg, #FFF, #F6F6F6 100%);
	background-image:     -o-linear-gradient(90deg, #FFF, #F6F6F6 100%);
	background-image:    -ms-linear-gradient(90deg, #FFF, #F6F6F6 100%);
	background-image:        linear-gradient(90deg, #FFF, #F6F6F6 100%);
	background:-moz-linear-gradient(center top,#F6F6F6,#FFF) repeat scroll 0 0 transparent;
}
